<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta name="keywords" content="@ViewBag.KeyWords" />
    <meta name="description" content="@ViewBag.Descriptions" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/Eximani.ico" type="image/x-icon">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EBGLCVGWJQ"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-EBGLCVGWJQ');
    </script>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CLato%7CKalam:300,400,700">
    <!-- Project Font: Fonts -->
    <link rel="stylesheet" href="~/css/fonts.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <!-- Style Project -->
    <link rel="stylesheet" href="~/css/style.css" />
    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
            display: block;
        }
    </style>
    @RenderSection("Header", required: false)
</head>
<body>
    <div class="preloader">
        <div class="preloader-body">
            <div class="cssload-bell">
                <div class="cssload-circle">
                    <div class="cssload-inner"></div>
                </div>
                <div class="cssload-circle">
                    <div class="cssload-inner"></div>
                </div>
                <div class="cssload-circle">
                    <div class="cssload-inner"></div>
                </div>
                <div class="cssload-circle">
                    <div class="cssload-inner"></div>
                </div>
                <div class="cssload-circle">
                    <div class="cssload-inner"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <!-- Page Header-->
        <header class="section page-header">
            <!-- RD Navbar-->
            <div class="rd-navbar-wrap">
                <nav class="rd-navbar rd-navbar-classic  " data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="100px" data-xl-stick-up-offset="100px" data-xxl-stick-up-offset="100px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="rd-navbar-main-outer ">
                        <div class="rd-navbar-main ">
                            <!-- RD Navbar Panel-->
                            <div class="rd-navbar-panel ">
                                <!-- RD Navbar Toggle-->
                                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                <!-- RD Navbar Brand-->
                                <div class="rd-navbar-brand ">
                                    <!--Brand-->
                                    <a href="/Home" title="Home">
                                        <img class="brand-logo-dark" src="~/eximani-images/eximani-icon.png" alt="" width="180" height="60" />
                                    </a>
                                </div>
                            </div>
                            <div class="rd-navbar-nav-wrap">
                                <ul class="rd-navbar-nav">
                                    <li class="rd-nav-item active"><a class="rd-nav-link" title="Home" href="/home">Home</a></li>
                                    <li class="rd-nav-item "><a class="rd-nav-link" title="About" href="/EximaniAbout">About</a></li>
                                    <li class="rd-nav-item "><a class="rd-nav-link" title="Product" href="/EximaniProduct">Product</a></li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" title="Blogs" href="/EximaniBlog" target="_self">Blogs</a></li>
                                    <li class="rd-nav-item "><a class="rd-nav-link" title="Manufactory" href="/EximaniManufactor">Manufactory</a></li>
                                    <li class="rd-nav-item "><a class="rd-nav-link" title="Contact" href="/EximaniContact">Contact</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </nav>
            </div>
        </header>

        @RenderBody()
        <!-- Page Footer-->
        <footer class="section footer-classic">
            <div class="footer-classic-body section-lg">
                <div class="container">
                    <div class="row row-40 row-md-50 justify-content-xl-between">
                        <div class="col-sm-6 col-lg-4 col-xl-3 wow fadeInRight">
                            <div class="footer-classic-brand">
                                <!--Brand-->
                                <a class="brand" href="index">
                                    @*<img class="brand-logo-dark" src="images/icon.png" alt="" width="140" height="46" />
                                    <img class="brand-logo-light" src="images/icon.png" alt="" width="140" height="46" />*@
                                </a>
                            </div>
                            <ul class="list-schedule">
                                <li><span>Weekdays:</span><span>08:00am - 08:00pm</span></li>
                                <li><span>Weekends:</span><span>10:00am - 06:00pm</span></li>
                            </ul>
                            <div class="footer-classic-social">
                                <div class="group-lg group-middle">
                                    <p>Get Social</p>
                                    <div>
                                        <ul class="list-inline list-social list-inline-sm">
                                            <li><a class="icon mdi mdi-facebook" title="facebook" href="https://www.facebook.com/Eximani"></a></li>
                                            <li><a class="icon mdi mdi-twitter" title="twitter" href="#"></a></li>
                                            <li><a class="icon mdi mdi-instagram" title="Instagram" href="#"></a></li>
                                            <li><a class="icon mdi mdi-google-plus" title="Google Plus" href="#"></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-lg-4 col-xl-3 wow fadeInRight" data-wow-delay=".1s">
                            <h4 class="footer-classic-title">Contacts</h4>
                            <ul class="contacts-creative">
                                <li>
                                    <div class="unit unit-spacing-sm flex-column flex-md-row">
                                        <div class="unit-left"><span class="icon mdi mdi-map-marker"></span></div>
                                        <div class="unit-body">
                                            <a href="#" title="Eximani Address">
                                                Head Office Address: No 803 Hong Ha Street, Chuong Duong Ward, Hoan Kiem District, Ha Noi, Viet Nam
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="unit unit-spacing-sm flex-column flex-md-row">
                                        <div class="unit-left"><span class="icon mdi mdi-phone"></span></div>
                                        <div class="unit-body">
                                            <a href="#" title="Contact Info">
                                                CEO - Mr. Giang Le
                                                +8493444983 (Whatsapp/Zalo/Viber) <br />
                                                Sales Manager - Ms. Lynn
                                                +84904859990 (Whatsapp/Zalo/Viber)
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="unit unit-spacing-sm flex-column flex-md-row">
                                        <div class="unit-left"><span class="icon mdi mdi-email-outline"></span></div>
                                        <div class="unit-body">
                                            <a title="Eximani Mail" href="mailto:#">ceo@eximani.com</a>
                                        </div>
                                        <br />
              
                                    </div>
                                </li>
                                <li>
                                    <div class="unit unit-spacing-sm flex-column flex-md-row">
                                        <div class="unit-left"><span class="icon mdi mdi-email-outline"></span></div>
                                        <div class="unit-body">
                                            <a title="Eximani Mail" href="mailto:#">giangltceo@eximani.com</a>
                                        </div>
                                        <br />

                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 wow fadeInRight" data-wow-delay=".2s">
                            <h4 class="footer-classic-title">Newsletter</h4>
                            <p>Subscribe to our newsletter to receive weekly news, updates, special offers, and exclusive discounts.</p>
                            <!-- RD Mailform-->
                            <div class="rd-form rd-mailform rd-form-inline rd-form-inline-2" data-form-output="form-output-global" data-form-type="subscribe">
                                <div class="form-wrap">
                                    <input class="form-input" id="subscribe-form-2-email" type="email" name="email" />
                                    <label class="form-label" for="subscribe-form-2-email">Enter your e-mail</label>
                                </div>
                                <div class="form-button">
                                    <button class="button button-icon-2 button-zakaria button-secondary" id="subscribe-mail-btn"><span class="fl-bigmug-line-paper122"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-classic-panel">
                <div class="container">
                    <div class="row row-10 align-items-center justify-content-sm-between">
                        <div class="col-md-auto">
                            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>Eximani</span><span>.&nbsp; All rights reserved.</span></p>
                        </div>
                        <div class="col-md-auto order-md-1"><a href="terms-of-use.html">Privacy Policy</a></div>
                        <div class="col-md-auto">
                            <div class="group-sm group-middle">
                                <img src="~/eximani-images/payment-1-45x15.png" alt="" width="45" height="15" /><img src="~/eximani-images/payment-2-46x28.png" alt="" width="46" height="28" /><img src="~/eximani-images/payment-3-62x17.png" alt="" width="62" height="17" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="~/js/core.min.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/landing-page.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
