@model CreateOrUpdateProductViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
@section Styles
{
    <link rel="stylesheet" href="~/plugins/cropper/cropper.min.css" />
    <link rel="stylesheet" href="~/css/product.css" />
}
<div class="content-wrapper">
    <div class="card" style="min-height: 381px; margin: 25px; padding: 15px;">
        <div>
            @if (@Model.Id != null && @Model.Id > 0)
            {
                <p>Update product</p>
            }
            else
            {
                <p>Create new product</p>
            }
            <input class="hide" value="@Model.Id" id="product-id" />
        </div>
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">General</a></li>
                <li><a href="#tabs-2">Product Image</a></li>
                <li><a href="#tabs-3">SEO</a></li>
            </ul>
            <div id="tabs-1">
                <div class="input-group mb-3">
                    <label for="prod-code-input" style="width: 100%">Mã sản phẩm</label>
                    <input type="text" id="prod-code-input" class="form-control" placeholder="Mã sản phẩm" @(Model.Id!=null ? "disabled" : null ) value="@Model.ProductCode">
                </div>
                <div class="input-group mb-3">
                    <label for="prod-name-input" style="width: 100%">Tên sản phẩm</label>
                    <input type="text" id="prod-name-input" class="form-control" placeholder="Tên sản phẩm" aria-label="Product name" aria-describedby="basic-addon1" value="@Model.Name">
                </div>
                <div class="input-group mb-3" style="flex-direction:column">
                    <label for="prod-category-select">Loại sản phẩm</label>
                    @Html.DropDownList("product-category", Model.ListCategory,"Chọn loại sản phẩm", new { @class = "form-control prod-select", @id = "prod-category-select" })
                </div>
                <div class="input-group mb-3" style="flex-direction:column">
                    <label for="prod-parent-code-select">Mã sản phẩm cha</label>
                    @Html.DropDownList("parent-product", Model.ListParentPoroduct, "Chọn sản phẩm cha", new { @class = "form-control prod-select", @id = "prod-parent-code-select" })
                </div>
                <div class="input-group mb-3">
                    <label for="prod-description-input">Mô tả</label>
                    <textarea rows="3" id="prod-description-textarea" type="text" name="ShortDescription" style="width:100%">@Model.Description</textarea>
                </div>
                <div class="md-3">
                    <label for="content">Nội dung</label>
                    <textarea rows="3" id="prod-content-textarea">@Model.Content</textarea>
                </div>
                <div class="form-check form-check-inline mt-3">
                    <input class="form-check-input" type="checkbox" id="prod-status-checkbox" @(Model.Status ? "checked='checked'" : "")>
                    <label class="form-check-label" for="inlineCheckbox1">Kích hoạt</label>
                </div>
            </div>
            <div id="tabs-2">
                <div class="row main-img-container">
                    <button type="button" id="choose-main-img-btn" class="btn btn-primary" data-toggle="modal" data-target="#main-img-crop-dialog">
                        Chọn ảnh chính
                    </button>
                    <div class="col-12">
                        <img src="@Model.MainImageBase64" id="prod-main-img" />
                    </div>
                </div>
                <div class="row sub-img-container">
                    <button type="button" id="choose-img-btn" class="btn btn-primary" data-toggle="modal" data-target="#sub-img-crop-dialog">
                        Chọn ảnh sản phẩm
                    </button>
                    <div class="col-12" id="list-sub-img">
                        @foreach (var linkImg in Model.SubImagesBase64)
                        {
                            <img src="@linkImg" class="sub-img" />
                        }
                    </div>
                </div>
            </div>
            <div id="tabs-3">
                <div class="input-group mb-3">
                    <label></label>
                    <input type="text" id="meta-title-input" class="form-control" value="@Model.MetaTitle" placeholder="Meta Title">
                </div>
                <div class="input-group mb-3">
                    <label></label>
                    <input type="text" id="meta-description-input" class="form-control" value="@Model.MetaDescription" placeholder="Meta Description">
                </div>
                <div class="input-group mb-3">
                    <label></label>
                    <input type="text" id="meta-key-word-input" class="form-control" value="@Model.MetaKeyWord" placeholder="Meta Key Word">
                </div>
            </div>
        </div>
        <div>
            <button type="button" id="btn-save-product" class="btn btn-primary btn-save-product">Save</button>
        </div>
    </div>
</div>


<!-- Modal Crop Main Product Image -->
<div class="modal fade" id="main-img-crop-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Cắt ảnh chính</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="min-width:650px;min-height:500px">
                <div>
                    <input type="file" id="update-main-image-file" />
                </div>
                <div>
                    <img id="main-crop-img">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="crop-main-img-btn">Crop Image</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Crop Sub Product Image -->
<div class="modal fade" id="sub-img-crop-dialog" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Cắt ảnh phụ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="min-width:650px;min-height:500px">
                <div>
                    <input type="file" id="update-sub-image-file" />
                </div>
                <div>
                    <img id="sub-crop-img">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="crop-sub-img-btn">Crop Image</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/plugins/cropper/cropper.min.js"></script>
    <script type="text/javascript" src="~/plugins/cropper/jquery-cropper.min.js"></script>
    <script type="text/javascript" src="~/js/admin/product/CreateOrUpdateProduct.js"></script>
}