@model List<ProductViewModel>
@{
    Layout = "_AdminLayout";
}
@section Styles
{
}
<div class="content-wrapper">
    <div class="card" style="min-height: 381px; margin: 25px; padding: 15px;">
        <div style="display: flex; margin: 20px 10px; align-items: center">
            <h4 style="flex-grow: 1">Danh sách sản phẩm</h4>
            <button class="btn btn-primary">
                <a href="/AdminProduct/CreateOrUpdate" style="color: #FFF; text-decoration: none">Thêm mới</a>
            </button>
        </div>
        <div class="table-container">
            <table id="blog-table" class="table table-striped">
                <thead>
                    <tr>
                        <th>Mã sản phẩm</th>
                        <th>Tên sản phẩm</th>
                        <th>Loại sản phẩm</th>
                        <th style="text-align: center;width: 100px">Trạng thái</th>
                        <th style="text-align:center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="record-@item.Id">
                            <td>@item.ProductCode</td>
                            <td>@item.Name</td>
                            <td>@item.ProductCategoryName</td>
                            <td style="text-align:center">
                                @if (item.Status)
                                {
                                    <i class="fas fa-check"></i>
                                }
                                else
                                {
                                    <i class="fas fa-times"></i>
                                }
                            </td>
                            <td style="text-align: center">
                                <a asp-action="CreateOrUpdate" asp-route-productId="@item.Id">Edit</a> |
                                <a asp-action="ChangeStatus" asp-route-productId="@item.Id">Change Status</a> |
                                <a asp-action="Delete" asp-route-productId="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>

</div>
@section Scripts
{

}