@model DetailProductViewModel
<section class="detail-section">
    <div class="container detail-prod-container">
        <div class="row">
            <div class="col-md-6 col-sm-12 dt-pd-container">
                <img src="@Model.MainImageBase64" id="main-img-preview"/>
                <div class="dt-pd-simg-container">
                    @foreach (var srcImg in Model.SubImagesBase64.Select((value,index)=>new { value, index }))
                    {
                        <img src="@srcImg.value"  class="sub-dt-image @(srcImg.index == 0 ? "focus-detail-img" : "")" />
                    }
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <div>
                    <p><a href="/home">Home</a>/<a href="/EximaniProduct">Product</a>/@Model.Name</p>
                </div>
                <div class="dt-pd-name" style="margin: 20px 0">
                    <h1 style="color: #f5543f; font-size: 36px; font-weight: 600">@Model.Name</h1>
                </div>
                <div class="dt-pd-description">
                    @Model.Description
                </div>
                <div class="dt-pd-category" style="margin-top: 20px">
                    <p>Category:<span>@Model.CategoryName</span></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 dt-pd-content">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(".rd-navbar-nav").children().removeClass("active");
        $(".rd-navbar-nav li:nth-child(3)").addClass("active");
    </script>
}