@model List<ExhibitProductCategoryViewModel>
<section class="breadcrumbs-custom">
    <div class="parallax-container" data-parallax-img="eximani-images/parallax-2.jpg">
        <div class="breadcrumbs-custom-body parallax-content context-dark">
            <div class="container">
                <h1 style="font-size: 55px" class="breadcrumbs-custom-title">Products</h1>
            </div>
        </div>
    </div>
    <div class="breadcrumbs-custom-footer">
        <div class="container">
            <ul class="breadcrumbs-custom-path">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="active">products</li>
            </ul>
        </div>
    </div>
</section>
<!-- Section Shop-->
<section class="section section-xxl bg-default text-md-left">
    <div class="container">
        <div class="row row-50">
            <div class="col-lg-12 col-xl-12">
                <div class="row row-30 row-lg-50">
                    @foreach (var prodCate in Model)
                    {
                        <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3" style="min-height: 466px"> 
                            <!-- Product-->
                            <article class="product  wow fadeInRight">
                                <div class="product-body">
                                    <div class="product-figure">
                                        <a href="@prodCate.ListExhibitProduct.First().LinkDetailProduct"
                                           title="@prodCate.ListExhibitProduct.First().ProductName">
                                            <img id="@("img-product-preview-category-"+prodCate.CategoryId)"
                                                 src="@prodCate.ListExhibitProduct.First().UrlMainImage"
                                                 alt="@prodCate.ListExhibitProduct.First().ProductName"
                                                 title="@prodCate.ListExhibitProduct.First().ProductName" />
                                        </a>
                                    </div>
                                    <h5 class="product-title"><a>@prodCate.CategoryName</a></h5>
                                </div>
                                <div class="sub-product-image-container">
                                    @for (var i = 0; i < prodCate.ListExhibitProduct.Count(); i++)
                                    {
                                        <a href="@prodCate.ListExhibitProduct[i].LinkDetailProduct"
                                           class="sub-img @(@i == 0 ? "sub-img-focus" : "")"
                                           categoryId="@prodCate.CategoryId"
                                           productName="@prodCate.ListExhibitProduct[i].ProductName"
                                           title="@prodCate.ListExhibitProduct[i].ProductName">
                                            <img class="img-mini-preview"
                                                 src="@prodCate.ListExhibitProduct[i].UrlMainImage"
                                                 alt="@prodCate.ListExhibitProduct[i].ProductName"
                                                 title="@prodCate.ListExhibitProduct[i].ProductName" />
                                        </a>
                                    }
                                </div>
                                <div class="product-button-wrap">
                                    <a id="@("product-name-"+prodCate.CategoryId)"
                                       href="@prodCate.ListExhibitProduct.First().LinkDetailProduct"
                                       title="@prodCate.ListExhibitProduct.First().ProductName">
                                        @prodCate.ListExhibitProduct.First().ProductName
                                    </a>
                                </div>
                            </article>
                        </div>
                    }
                </div>
                <div class="pagination-wrap">

                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
        $(".rd-navbar-nav").children().removeClass("active");
        $(".rd-navbar-nav li:nth-child(3)").addClass("active");
    </script>
}