@using LandingPage.Service.Dto.Contact
@model List<CustomerContactDto>
@{
    Layout = "_AdminLayout";
}

<div class="content-wrapper">
    <div class="card" style="min-height: 381px; margin: 25px; padding: 15px;">
        <div style="display: flex; margin: 3px 10px; align-items: center">
            <h4 style="flex-grow: 1">Contact List</h4>
        </div>
        <form asp-action="ContactList" asp-controller="AdminContact" method="get">
            <div class="row" style="margin: 15px 0">
                <div class="col-11">
                    <input type="text" class="form-control" placeholder="Search field" style="flex-grow: 1" id="search-field-input" name="SearchText" value="@ViewBag.SearchText" />
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-primary" id="search-btn" style="width: 100%">Search</button>
                </div>
            </div>
        </form>
        <div class="table-container">
            <table id="blog-table" class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 80px">STT</th>
                        <th style="width: 200px">Họ và tên</th>
                        <th>Email</th>
                        <th style="width:120px">SDT</th>
                        <th style="width:120px">Loại vé</th>
                        <th style="width:120px">Số lượng vé</th>
                        <th>Địa chỉ nhận vé</th>
                        <th style="text-align: center;width: 150px">CreatedDate</th>
                        <th style="text-align:center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Count;i++)
                    {
                        <tr id="record-@Model[i].Id">
                            <td>@(i+1)</td>
                            <td>@Model[i].FullName</td>
                            <td>@Model[i].Email</td>
                            <td>@Model[i].PhoneNumber</td>
                            <td>@Model[i].TicketType</td>
                            <td>@Model[i].TicketAmount</td>
                            <td>@Model[i].Address</td>
                            <td style="text-align: center">@Model[i].CreatedDate</td>

                            <td style="text-align: center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Action
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <button class="dropdown-item view-detail-contact-btn" type="button" contactId="@Model[i].Id" data-toggle="modal" data-target="#contact-detail-modal">
                                            ViewDetail
                                        </button>
                                        <button class="dropdown-item delete-contact-btn" type="button" contactId="@Model[i].Id">
                                            Delete
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="contact-detail-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Contact Detail</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="min-width:650px;min-height:500px">
                <div class="row">
                    <div><strong>Họ và tên: </strong><p id="ctm-name"></p></div>
                </div>
                <div class="row">
                    <div><strong>Email: </strong><p id="ctm-email"></div>
                </div>
                <div class="row">
                    <div><strong>Số điện thoại: </strong><p id="ctm-phone"></div>
                </div>  
                <div class="row">
                    <div><strong>Loại vé: </strong><p id="ctm-ticket-type"></div>
                </div>  
                <div class="row">
                    <div><strong>Số lượng vé: </strong><p id="ctm-ticket-amount"></div>
                </div>  
                <div class="row">
                    <div><strong>Địa chỉ nhận: </strong><p id="ctm-address"></div>
                </div>  
                <div class="row">
                    <div><strong>Câu hỏi: </strong><p id="ctm-question"></div>
                </div>
                <div class="row">
                    <div><strong>CreatedDate: </strong><p id="ctm-created-date"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(".nav-sidebar li").children().removeClass("active");
        $(".nav-sidebar li:nth-child(3)>a").addClass("active");
    </script>
    <script type="text/javascript" src="~/js/admin/contact/index.js"></script>
}