@model CreateOrUpdateBlogViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}
@section Styles
{
    <link rel="stylesheet" href="~/plugins/cropper/cropper.min.css" />
    <link rel="stylesheet" href="~/css/blog.css" />
}
<div class="content-wrapper">
    <div class="card" style="min-height: 381px; margin: 25px; padding: 15px;">
        <div>
            <p>Create Blog</p>
            <input class="hide" value="@Model.Id" id="blog-id" />
        </div>
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">General</a></li>
                <li><a href="#tabs-2">SEO</a></li>
            </ul>
            <div id="tabs-1">
                <div class="input-group mb-3">
                    <label for="title-input" style="width: 100%">Blog title</label>
                    <input type="text" id="title-input" class="form-control" placeholder="Blog title" aria-label="Blog title" aria-describedby="basic-addon1" value="@Model.Title">
                </div>
                @*<div class="input-group mb-3">
                        <input type="file" id="update-image-file"/>
                        <button class="btn btn-primary" id="cut-img-btn">Cắt ảnh</button>
                        <div style="height: 348px;width: 100%; margin: 20px 0">
                            <div style="height: 100%;width: 100%">
                                <img style="max-width: 100%;"
                                     id="img-cropper"
                                     src="~/images/about-1-143x114.jpg"/>
                            </div>
                        </div>
                        <div>
                            <img id="blog-avatar" />
                        </div>
                    </div>*@
                @*<div class="input-group mb-3">
                        <label for="category-select">Blog category</label>
                        <select data-palaceholder="Choose category" tabindex="3" id="category-select" class="category">
                            @foreach (var item in ViewBag.BlogCategories)
                            {
                                <option value="@item.Id">@item.Name</option>
                            }
                        </select>
                    </div>*@
                <div class="input-group mb-3">
                    <label for="short-description">ShortDescription</label>
                    <textarea rows="3" id="short-description-input" type="text" name="ShortDescription" style="width:100%">@Model.ShortDescription</textarea>
                </div>
                <div class="md-3">
                    <label for="content">Content</label>
                    <textarea id="content-textarea">@Model.Content</textarea>
                </div>
                <div class="form-check form-check-inline mt-3">
                    <input class="form-check-input" type="checkbox" id="publish-checkbox" @(Model.Published ? "checked='checked'" : "")>
                    <label class="form-check-label" for="inlineCheckbox1">Published</label>
                </div>
            </div>
            <div id="tabs-2">
                <div class="input-group mb-3">
                    <label></label>
                    <input type="text" id="meta-title-input" class="form-control" value="@Model.MetaTitle" placeholder="Meta Title">
                </div>
                <div class="input-group mb-3">
                    <label></label>
                    <input type="text" id="meta-description-input" class="form-control" value="@Model.MetaDescription" placeholder="Meta Description">
                </div>
                <div class="input-group mb-3">
                    <label></label>
                    <input type="text" id="meta-key-word-input" class="form-control" value="@Model.MetaKeyWord" placeholder="Meta Key Word">
                </div>
            </div>
        </div>
        <div>
            <button type="button" id="btn-create-blog" class="btn btn-primary btn-save-blog">Save</button>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $(".nav-sidebar li").children().removeClass("active");
        $(".nav-sidebar li:nth-child(1)>a").addClass("active");
    </script>
    <script type="text/javascript" src="~/plugins/cropper/cropper.min.js"></script>
    <script type="text/javascript" src="~/plugins/cropper/jquery-cropper.min.js"></script>
    <script type="text/javascript" src="~/js/admin/blog/CreateBlogs.js"></script>
}
