@model List<ExhibitProductCategoryViewModel>
<!-- Swiper-->
<section class="section swiper-container swiper-slider swiper-slider-1" data-loop="true">
    <div class="swiper-wrapper context-dark text-center">
        <div class="swiper-slide" data-slide-bg="eximani-images/slide-1d.png">
            <div class="swiper-slide-caption section-md">
                <div class="container">
                    <h4 class="swiper-title-3" data-caption-animate="fadeInLeft" data-caption-delay="200">Welcome to </h4>
                    <h1 class="swiper-title-1" data-caption-animate="fadeScale" data-caption-delay="100">EXIMANI</h1>
                    @*<h3 class="swiper-title-2" data-caption-animate="fadeInRight" data-caption-delay="200">Grown with Us</h3>*@
                    <div class="button-wrap" data-caption-animate="fadeInUp" data-caption-delay="300"><a class="button button-lg button-shadow-3 button-secondary button-zakaria" href="contact">Enquire Now</a></div>
                </div>
            </div>
        </div>
        <div class="swiper-slide" data-slide-bg="eximani-images/slide-2d.png">
            <div class="swiper-slide-caption section-md">
                <div class="container">
                    <h4 class="swiper-title-3" data-caption-animate="fadeInLeft" data-caption-delay="200">High-Quality Organic Products</h4>
                    <h1 class="swiper-title-1" data-caption-animate="fadeScale" data-caption-delay="100">Vegetables</h1>
                    <h3 class="swiper-title-2" data-caption-animate="fadeInRight" data-caption-delay="200">Without harmful additives</h3>
                    <div class="button-wrap" data-caption-animate="fadeInUp" data-caption-delay="300"><a class="button button-lg button-shadow-3 button-secondary button-zakaria" href="contact">Enquire Now</a></div>
                </div>
            </div>
        </div>
        <div class="swiper-slide" data-slide-bg="eximani-images/slide-3d.png">
            <div class="swiper-slide-caption section-md">
                <div class="container">
                    <h4 class="swiper-title-3" data-caption-animate="fadeInLeft" data-caption-delay="200">Fresh Organic Products</h4>
                    <h1 class="swiper-title-1" data-caption-animate="fadeScale" data-caption-delay="100">Fruits</h1>
                    <h3 class="swiper-title-2" data-caption-animate="fadeInRight" data-caption-delay="200">With lots of vitamins</h3>
                    <div class="button-wrap" data-caption-animate="fadeInUp" data-caption-delay="300"><a class="button button-lg button-shadow-3 button-secondary button-zakaria" href="contact">Enquire Now</a></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Swiper Pagination-->
    <div class="swiper-pagination"></div>
    <!-- Swiper Navigation-->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</section>
<!-- About Us-->
<section class="section section-inset-2 bg-default text-md-left">
    <div class="container">
        <div class="row row-30 align-items-center justify-content-center justify-content-xl-between">
            <div class="col-sm-6 col-md-5 col-lg-6 wow fadeInLeft" style="display: flex;justify-content: center; align-items: center">
                <img src="eximani-images/logohoathimau.png" alt="" style="width:62%" />
            </div>
            <div class="col-md-7 col-lg-6 col-xl-5">
                <h4 class="title-style-1 wow fadeInRight">A Few Words About Eximani</h4>
                <h2 class="wow fadeInRight" data-wow-delay=".1s">About us</h2>
                <p class="offset-top-md-20 wow fadeInRight" data-wow-delay=".2s">We - EXIMANI VIETNAM Co., LTD is the leading supplier and manufacturer of Raw Incense Stick, Raw Materials (Joss Powder, Wood Powder, Black/ White Premix Powder, Bamboo Stick) and Spices ( Cassia and Star Anise ) to customers in India, Dominican Republic, Bangladesh, Indonesia, Philippines,Malaysia, Sri Lanka, Pakistan, Panama... from small manufacturers to big over the world.</p>
                <div class="group-xl group-middle d-md-flex justify-content-md-between wow fadeInRight" data-wow-delay=".3s">
                    <div>
                        <div class="group-xl group-middle">
                            <a class="button button-sm button-icon-3 button-secondary button-zakaria" href="about"><span class="mdi mdi-arrow-right"></span></a>
                            <div class="team-navy">
                                <div class="team-navy-name"><a href="#">ABC</a></div>
                                <div class="team-navy-status">Founder</div>
                            </div>
                        </div>
                    </div><img src="eximani-images/signature-1-160x55.png" alt="" width="160" height="55" />
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Services-->
<section class="parallax-container" style="font-family: " Lato", -apple-system, BlinkMacSystemFont, "Segoe UI" , Roboto, "Helvetica Neue" , Arial, sans-serif";>
    <div class="parallax-content section-xxl context-dark">
        <div class="container">
            <div class="row row-30 box-ordered">
                <div class="col-sm-6 col-lg-4 wow fadeInLeft" data-wow-delay=".1s">
                    <article class="box-icon-modern" style="text-align: center; !important">
                        <div class="box-icon-modern-header">
                            <img src="eximani-images/quality.svg" style="height: 75px;">
                        </div>
                        <h4 class="box-icon-modern-title"><a style="color: #f9520b;" href="#">Customers’Benefits<br /></a></h4>
                        <p class="box-icon-modern-text">
                            We would like to present 6 benefits that all our customers will receive when doing business with us.
                        </p>
                    </article>
                </div>
                <div class="col-sm-6 col-lg-4 wow fadeInLeft" data-wow-delay=".1s">
                    <article class="box-icon-modern" style="text-align: center; !important">
                        <div class="box-icon-modern-header">
                            <img src="eximani-images/spchatluong.jpg" style="height: 75px;">
                        </div>
                        <h4 class="box-icon-modern-title"><a href="#">High-quality Products</a></h4>
                        <p class="box-icon-modern-text">EXIMANI Products exported to foreign markets Eximani are always highly appreciated by partners for their quality, maintaining customers' faith in many parts of the world.</p>
                    </article>
                </div>
                <div class="col-sm-6 col-lg-4 wow fadeInLeft" data-wow-delay=".1s">
                    <article class="box-icon-modern" style="text-align: center; !important">
                        <div class="box-icon-modern-header">
                            <img src="eximani-images/price.png" style="height: 75px;">
                        </div>
                        <h4 class="box-icon-modern-title"><a href="#">Competitive Price</a></h4>
                        <p class="box-icon-modern-text">To be able to bring products abroad while ensuring the profitability of customers, we always provide products with the most suitable prices.</p>
                    </article>
                </div>
                <div class="col-sm-6 col-lg-4 wow fadeInLeft" data-wow-delay=".1s">
                    <article class="box-icon-modern" style="text-align: center; !important">
                        <div class="box-icon-modern-header">
                            <img src="eximani-images/quytrinh.jpg" style="height: 75px;">
                        </div>
                        <h4 class="box-icon-modern-title"><a href="#">Standard Process</a></h4>
                        <p class="box-icon-modern-text">To ensure time delivery, we always find ways to optimize the process of applying for customs clearance at Vietnam Customs.</p>
                    </article>
                </div>
                <div class="col-sm-6 col-lg-4 wow fadeInLeft" data-wow-delay=".1s">
                    <article class="box-icon-modern" style="text-align: center; !important">
                        <div class="box-icon-modern-header">
                            <img src="eximani-images/hethongsxtt.jpg" style="height: 75px;">
                        </div>
                        <h4 class="box-icon-modern-title"><a href="#">Advanced production system</a></h4>
                        <p class="box-icon-modern-text">In order to provide customers with the right quantity and quality, we have a system of factories with advanced technology in all provinces in Vietnam.</p>
                    </article>
                </div>
                <div class="col-sm-6 col-lg-4 wow fadeInLeft" data-wow-delay=".1s">
                    <article class="box-icon-modern" style="text-align: center; !important">
                        <div class="box-icon-modern-header">
                            <img src="eximani-images/time.png" style="height: 75px;">
                        </div>
                        <h4 class="box-icon-modern-title"><a href="#">Synchronized Logistics</a></h4>
                        <p class="box-icon-modern-text">Logistics system ensures product quality from the factory until the product reaches the customer</p>
                    </article>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- New Products-->
<section class="section section-xxl bg-default">
    <div class="container">
        <h4 class="title-style-1 wow fadeInLeft">We Deal In</h4>
        <h2 class="wow fadeScale">Products</h2>
        <div class="isotope-wrap">
            <div class="row row-30 row-lg-50 isotope">
                @foreach (var prodCate in Model)
                {
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-3 isotope-item" data-filter="Type 1" style="min-height: 466px">
                        <!-- Product-->
                        <article class="product  wow fadeInRight">
                            <div class="product-body">
                                <div class="product-figure">
                                    <img id="@("img-product-preview-category-"+prodCate.CategoryId)" src="@prodCate.ListExhibitProduct.First().UrlMainImage" alt="" />
                                </div>
                                <h5 class="product-title"><a>@prodCate.CategoryName</a></h5>
                            </div>
                            <div class="sub-product-image-container">
                                @for (var i = 0; i < prodCate.ListExhibitProduct.Count(); i++)
                                {
                                    <a href="@prodCate.ListExhibitProduct[i].LinkDetailProduct"
                                       class="sub-img @(@i == 0 ? "sub-img-focus" : "")"
                                       categoryId="@prodCate.CategoryId"
                                       productName="@prodCate.ListExhibitProduct[i].ProductName">
                                        <img class="img-mini-preview" src="@prodCate.ListExhibitProduct[i].UrlMainImage" />
                                    </a>
                                }
                            </div>
                            <div class="product-button-wrap">
                                <p id="@("product-name-"+prodCate.CategoryId)">@prodCate.ListExhibitProduct.First().ProductName</p>
                            </div>
                        </article>
                    </div>
                }
               
            </div>
        </div>
    </div>
</section>
<!-- Our clients-->
<section class="section section-xxl bg-image-3 image-decor-wrap">
    <div class="container">
        <h4 class="title-style-1 wow fadeInRight">Latest Testimonials</h4>
        <h2 class="wow fadeScale" style="color: #FFF">Our clients</h2>
        <!-- Owl Carousel-->
        <div class="owl-carousel owl-style-3" data-items="1" data-margin="200" data-autoplay="true" data-nav="true" data-dots="true" data-smart-speed="400" data-animation-in="fadeIn" data-animation-out="fadeOut">
            <!-- Quote Modern-->
            <article class="quote-modern quote-modern-2">
                <div class="quote-modern-text">
                    <div class="q">As an importer, I face the challenge of getting our goods cleared by the Food Safety and Standards Authority of India (FSSAI). The other challenge is that many a time, the cassia are not completely dried by exporters before shipping, and by the time they reach us, the moisture from the products evaporates and recondenses on the cassia in the container, leading to the formation of fungus. Fungus on vegetable products leads to the formation of aflatoxin, which is a harmful carcinogen. So, this process of drying by the packers has to be thorough, but many exporters do not follow this norm. Eximani Vietnam is presently our preferred sourcing company because of the quality of their product. In order to build a good reputation, exporters should adhere to better quality standards.</div>
                </div>
                <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                    <div class="unit-left">
                        <div class="quote-modern-figure">
                            <img src="eximani-images/user-11-62x62.jpg" alt="" width="62" height="62" />
                        </div>
                    </div>
                    <div class="unit-body">
                        <div class="quote-modern-author">Rajesh Kumar Delhi,</div>
                        <div class="quote-modern-status">India.</div>
                    </div>
                </div>
            </article>
            <!-- Quote Modern-->
            <article class="quote-modern quote-modern-2">
                <div class="quote-modern-text">
                    <div class="q">I picked sample from your company first and than had a full container from your company it was really nice having deal with you. Quality was too good and delivery was on time.</div>
                </div>
                <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                    <div class="unit-left">
                        <div class="quote-modern-figure">
                            <img src="eximani-images/user-10-62x62.jpg" alt="" width="62" height="62" />
                        </div>
                    </div>
                    <div class="unit-body">
                        <div class="quote-modern-author">Bill Mcmillan</div>
                        <div class="quote-modern-status">Australia</div>
                    </div>
                </div>
            </article>

            <article class="quote-modern quote-modern-2">
                <div class="quote-modern-text">
                    <div class="q">Previously, I imported Star Anise from Chinese partners because their prices were quite cheap, but the quality of goods was not equal. Since cooperating with Eximani Vietnam, I am completely assured of the quality and price.</div>
                </div>
                <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                    <div class="unit-left">
                        <div class="quote-modern-figure">
                            <img src="eximani-images/user-6-62x62.jpg" alt="" width="62" height="62" />
                        </div>
                    </div>
                    <div class="unit-body">
                        <div class="quote-modern-author">Pashupati</div>
                        <div class="quote-modern-status">Nepal</div>
                    </div>
                </div>
            </article>

            <!-- Quote Modern-->
            <article class="quote-modern quote-modern-2">
                <div class="quote-modern-text">
                    <div class="q">In the past, I was always worried about the amount of broken cinnamon being imported until I received a referral from a friend about Eximani. Since choosing them as a partner, I don't have to worry about anything else.</div>
                </div>
                <div class="unit unit-spacing-sm flex-column flex-md-row align-items-center">
                    <div class="unit-left">
                        <div class="quote-modern-figure">
                            <img src="eximani-images/user-6-62x62.jpg" alt="" width="62" height="62" />
                        </div>
                    </div>
                    <div class="unit-body">
                        <div class="quote-modern-author">M. Varadharajan, Mumbai</div>
                        <div class="quote-modern-status">India</div>
                    </div>
                </div>
            </article>
        </div>

</section>
<!-- Banner-->
<!-- Section Product and Clients-->
<section class="section section-sm section-first bg-default text-md-left">
    <div class="container">
        <div class="row row-30 justify-content-center align-items-md-center">
            <div class="col-sm-8 col-md-5 col-xl-6">
                <div class="inset-xl-right-20">
                    <div class="product-wrap-1 bg-image-1 block-1">
                        <!-- Owl Carousel-->
                        <div class="owl-carousel owl-style-5" data-items="1" data-margin="30" data-dots="true" data-autoplay="true">
                            <article class="product-creative">
                                <div class="product-figure">
                                    <img src="eximani-images/star-anise.png" alt="" width="470" height="324" />
                                </div>
                                <h4 class="product-creative-title"><a href="product">Star Anise</a></h4>
                                <div class="product-creative-price-wrap">
                                </div>
                            </article>
                            <article class="product-creative">
                                <div class="product-figure">
                                    <img src="eximani-images/cigarette-cassia.png" alt="" width="470" height="324" />
                                </div>
                                <h4 class="product-creative-title"><a href="product"></a>Cassia</h4>
                                <div class="product-creative-price-wrap">
                                </div>
                            </article>

                            <article class="product-creative">
                                <div class="product-figure">
                                    <img src="eximani-images/pop-zebra-unsplash.jpg" alt="" width="470" height="324" />
                                </div>
                                <h4 class="product-creative-title"><a href="product">Joss Powder</a></h4>
                                <div class="product-creative-price-wrap">
                                </div>
                            </article>

                            <article class="product-creative">
                                <div class="product-figure">
                                    <img src="eximani-images/white-joss-powder.jpeg" alt="" width="470" height="324" />
                                </div>
                                <h4 class="product-creative-title"><a href="product">Wood Powder</a></h4>
                                <div class="product-creative-price-wrap">
                                </div>
                            </article>
                            <article class="product-creative">
                                <div class="product-figure">
                                    <img src="eximani-images/bamboo-sticks.png" alt="" width="470" height="324" />
                                </div>
                                <h4 class="product-creative-title"><a href="product">Bamboo Sticks</a></h4>
                                <div class="product-creative-price-wrap">
                                </div>
                            </article>
                            <article class="product-creative">
                                <div class="product-figure">
                                    <img src="eximani-images/color-incense.png" alt="" width="470" height="324" />
                                </div>
                                <h4 class="product-creative-title"><a href="product">Incense Sticks</a></h4>
                                <div class="product-creative-price-wrap">
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-xl-6">
                <h4 class="title-style-1 wow fadeInRight">Why Choose Us ??</h4>
                <h2 class="text-spacing-20 wow fadeInRight" data-wow-delay=".1s">We are Best</h2>
                <!-- Bootstrap collapse-->
                <div class="card-group-custom card-group-custom-1 card-group-corporate" id="accordion1" role="tablist" aria-multiselectable="false">
                    <!-- Bootstrap card-->
                    <article class="card card-custom card-corporate wow fadeInRight" data-wow-delay=".2s">
                        <div class="card-header" role="tab">
                            <div class="card-title">
                                <a id="accordion1-card-head-vinxbnny" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-pxkhxtgg" aria-controls="accordion1-card-body-pxkhxtgg" aria-expanded="true" role="button">
                                    Our &quot;Mission&quot;
                                    <div class="card-arrow">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="collapse show" id="accordion1-card-body-pxkhxtgg" aria-labelledby="accordion1-card-head-vinxbnny" data-parent="#accordion1" role="tabpanel">
                            <div class="card-body">
                                <p>"Contribute for high quality of product and services for the betterment of society."</p>
                            </div>
                        </div>
                    </article>
                    <!-- Bootstrap card-->
                    <article class="card card-custom card-corporate wow fadeInRight" data-wow-delay=".3s">
                        <div class="card-header" role="tab">
                            <div class="card-title">
                                <a class="collapsed" id="accordion1-card-head-jaaceytc" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-krbiajls" aria-controls="accordion1-card-body-krbiajls" aria-expanded="false" role="button">
                                    Our Vision
                                    <div class="card-arrow">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="accordion1-card-body-krbiajls" aria-labelledby="accordion1-card-head-jaaceytc" data-parent="#accordion1" role="tabpanel">
                            <div class="card-body">
                                <p>EXIMANI VIETNAM aims to remain trading partners of the world entrepreneurs to reap success.</p>
                                <p>Our passion is to interact with the global trade to exchange innovative ideas and offer sharing our strengths to create better products. We intend to emerge as a destination of the world to play a major role in developing good products provided from Vietnam.</p>
                            </div>
                        </div>
                    </article>
                    <!-- Bootstrap card-->
                    <article class="card card-custom card-corporate wow fadeInRight" data-wow-delay=".4s">
                        <div class="card-header" role="tab">
                            <div class="card-title">
                                <a class="collapsed" id="accordion1-card-head-vikedqad" data-toggle="collapse" data-parent="#accordion1" href="#accordion1-card-body-wgyktlpb" aria-controls="accordion1-card-body-wgyktlpb" aria-expanded="false" role="button">
                                    Why Us?
                                    <div class="card-arrow">
                                        <div class="icon"></div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="collapse" id="accordion1-card-body-wgyktlpb" aria-labelledby="accordion1-card-head-vikedqad" data-parent="#accordion1" role="tabpanel">
                            <div class="card-body">
                                <h5>&quot;GOOD PRODUCT, GOOD SERVICE&quot;</h5>
                                <p>With decades of establishing and operating, we have built up a wide and strong network of loyal customers throughout countries in Europe, Middle East, Asia, and Africa also.</p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Blog-->

<section class="section">
    <!-- RD Google Map-->
    @*<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14765.054604550196!2d70.7688101!3d22.3058665!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe417be0259c2f47!2sJasal%20Complex!5e0!3m2!1sen!2sin!4v1594985253132!5m2!1sen!2sin" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>*@
    <div class="mapouter">
        <div class="gmap_canvas">
            <iframe width="1200" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Ho%C3%A0n%20Ki%E1%BA%BFm%20H%C3%A0%20N%E1%BB%99i&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies2.org"></a><br>
            <style>
                .mapouter {
                    position: relative;
                    text-align: right;
                    height: 500px;
                    width: 100%;
                }
            </style>
            <style>
                .gmap_canvas {
                    overflow: hidden;
                    background: none !important;
                    height: 500px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            </style>
        </div>
    </div>

</section>
<div class="snackbars" id="form-output-global"></div>
